<h1>Listing available spaces</h1>
<% @spaces.each do |space| %>

<div class="row">
  <div class="col-md-4">
    <%= image_tag(space.image_url, :alt => "property_photo", class: "preview-image") %>
  </div>
  <div class="col-md-8">
    <h2><%=space.title%></h2>
    <h4><%= number_to_currency(space.price)%></h4>
    <p><%=space.description%></p>
    <% if @user %>
      <p>SPOT ID: <%= space.id %> </p>
      <p>AVAILABLE: <%= space.available %> </p>
    <% end %>
  </div>
</div>

<hr>

<%end%>

<% if @spaces.count == 0%>
  <h3>There are no spaces available</h3>
<% end %>
