<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @space.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @space.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @space.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @space.available %>
</p>

<% if @user  %>
  <%= link_to 'Edit', edit_space_path(@space) %> |
<% end %>
<%= link_to 'Back', spaces_path %>
