<h1>Listing available units:</h1>

<% @units.each do |unit| %>

<div class="row">
  <div class="col-md-3">
   <% image = unit.images.where(main: true).first %>
   <% if !image.nil? %>
    <%= link_to(image_tag(image.image_url, :alt => "property_photo", class: "preview-image"),unit_path(unit)) %>
  <% else %>
    <%= link_to(image_tag('ext_front.jpg', :alt => "property_photo", class: "preview-image"), unit_path(unit)) %>
  <% end %>
  </div>
  <div class="col-md-9">
    <h2><%=unit.title%></h2>
    <h4><%= number_to_currency(unit.price)%></h4>
  </div>
</div>

<hr>

<%end%>

<% if @units.count == 0%>
  <h3>There are no units available</h3>
<% end %>


<%= link_to 'New Unit', new_unit_path %>
