<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @unit.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @unit.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @unit.available %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>

<% @unit.images.each do |image| %>
	<%= link_to image.description, image.image_url%>
<% end %>
