<p id="notice"><%= notice %></p>

<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 540px; height: 410px; margin-left: auto; margin-right: auto;">
  <!-- Slides Container -->
  <div u="slides" style="cursor: move; width: 540px; height: 410px; text-align: center;">
		<% @unit.images.each do |image| %>
  		<div><%= image_tag image.image_url, class: 'resized-image' %></div>
		<% end %>
  </div>
  <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 300px; left:0;"></span>
  <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 300px; right:0;"></span>
</div>

<script>
	jQuery(document).ready(function ($) {
	  var options = {
	  	$AutoPlay: true,
	  	$AutoPlayInterval: 4000,
	  	$PauseOnHover: 1,
	  	$ArrowKeyNavigation: true,
	  	$ArrowNavigatorOptions: {
	      $Class: $JssorArrowNavigator$,
	      $ChanceToShow: 2,
	      $AutoCenter: 2,
	      $Steps: 1,
	      $Scale: false
	  	}
	  };
	  var jssor_slider1 = new $JssorSlider$('slider1_container', options);
	});
</script>


<p>
	<strong>Title:</strong>
	<%= @unit.title %>
</p>

<p>
	<strong>Price:</strong>
	<%= @unit.price %>
</p>

<p>
	<strong>Available:</strong>
	<%= @unit.available %>
</p>

<p>
	<strong>Description:</strong>
	<%= @unit.description %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>

<a href="https://www.rentapplication.net/2433winnemac/" style="color: white; background-color:#00ACEC; text-decoration:none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; text-shadow: 1px 1px rgba(0,0,0,0.4); display:inline-block; padding:10px 20px; margin: 10px; -border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;" onMouseOver="this.style.backgroundColor='#08C'" onMouseOut="this.style.backgroundColor='#00ACEC'">Apply Online Now</a>
