<p id="notice"><%= notice %></p>

<div class="page-header">
  <a class="application-link" href="https://www.rentapplication.net/2433winnemac/">Apply Online Now</a>
  <div class="custom-title">
    <%= @unit.title + ' | ' + @unit.subtitle %>
  </div>
</div>

<div class="unit-price">
	<%= number_to_currency(@unit.price, precision: 0) %>
</div>

<div class="unit-description">
	<%= @unit.description.html_safe %>
</div>

<div id="slider1_container">
  <!-- Slides Container -->
  <div u="slides" class="slides-container">
    <% @unit.images.each do |image| %>
      <div>
        <%= image_tag image.image_url, class: 'resized-image' %>
        <div class="image-caption" u="caption" t="L-R">
          <!-- Any HTML Content Here -->
          <%= image.description %>
        </div>
      </div>
    <% end %>
  </div>
  <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 300px; left:0;"></span>
  <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 300px; right:0;"></span>

  <div u="navigator" class="jssorb01" style="bottom: 16px; right: 10px;">
      <!-- bullet navigator item prototype -->
      <div u="prototype"></div>
  </div>
</div>

<script>
  jQuery(document).ready(function ($) {
    var _CaptionTransitions = [];
    //Left to Right
    _CaptionTransitions["L-R"] = { $Duration: 800, $FlyDirection: 1 };
    //Right to Left
    _CaptionTransitions["R-L"] = { $Duration: 800, $FlyDirection: 2 };
    //Top to Bottom
    _CaptionTransitions["T-B"] = { $Duration: 800, $FlyDirection: 4 };
    //Bottom to Top
    _CaptionTransitions["B-T"] = { $Duration: 800, $FlyDirection: 8 };

    var options = {
      $HWA: false,
      $AutoPlay: true,
      $AutoPlayInterval: 4000,
      $PauseOnHover: 1,
      $ArrowKeyNavigation: true,
      $ArrowNavigatorOptions: {
        $Class: $JssorArrowNavigator$,
        $ChanceToShow: 2,
        $AutoCenter: 2,
        $Steps: 1,
        $Scale: false
      },
      $BulletNavigatorOptions: {
        $Class: $JssorBulletNavigator$,
        $ChanceToShow: 2,  //[Required] 0 Never, 1 Mouse Over, 2 Always
        $AutoCenter: 1,  //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
        $Steps: 1,
        $Lanes: 1,
        $SpacingX: 5,
        $SpacingY: 4,
        $Orientation: 1,  //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
        $Scale: false //Scales bullets navigator or not while slider scale
      },
      $CaptionSliderOptions: {
        $Class: $JssorCaptionSlider$,
        $CaptionTransitions: _CaptionTransitions,
        $PlayInMode: 1,
        $PlayOutMode: 3
      }
    };
    var jssor_slider1 = new $JssorSlider$('slider1_container', options);

     //responsive code begin
        //you can remove responsive code if you don't want the slider scales
        //while window resizes
        function ScaleSlider() {
            var parentWidth = $('#slider1_container').parent().width();
            if (parentWidth) {
              if (parentWidth < 768) {
                console.log('first');
                jssor_slider1.$ScaleWidth(parentWidth);
              } else {
                console.log('two');
                jssor_slider1.$ScaleWidth(parentWidth * 0.75);
              }
            }
            else
                window.setTimeout(ScaleSlider, 30);
        }
        //Scale slider after document ready
        ScaleSlider();

        //Scale slider while window load/resize/orientationchange.
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
  });
</script>
