<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @unit.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @unit.integer %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @unit.boolean %>
</p>

<p>
  <strong>Text:</strong>
  <%= @unit.text %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
