<!DOCTYPE html>
<html>
<head>
	<title>WinnemacSite</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="http://bootswatch.com/cyborg/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
	<script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>			
				
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">2433 W Winnemac Ave, Chicago, IL 60625</a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/contact">Contact</a></li>
					<li><a href="/parking">Parking</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Units <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Unit 1</a></li>
							<li><a href="#">Unit 2</a></li>
							<li><a href="#">Unit 3</a></li>
							<li class="divider"></li>
							<li><%= link_to "View All", units_path %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

<a href="http://www.rentapplication.net/2433unit1/" style="color: white; background-color:#00ACEC; text-decoration:none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; text-shadow: 1px 1px rgba(0,0,0,0.4); display:inline-block; padding:10px 20px; margin: 10px; -border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;" onMouseOver="this.style.backgroundColor='#08C'" onMouseOut="this.style.backgroundColor='#00ACEC'">Apply Online Now</a>

		<%= yield %>
	</div>
</body>
</html>
